template(name="bootstrapGuides")
  #bsg-container-type.container
    button#bsg-fluid.fluid.btn.btn-default container
    input.bsg-quick-div(value='4')
    button#bsg-fluid.fluid.btn.btn-primary hide
    .row.vertical-guide.guide-off
      .col-xs-4.col-guide.vertical-guide.guide-off
      .col-xs-4.col-guide.vertical-guide.guide-off
      .col-xs-4.col-guide.vertical-guide.guide-off
