template(name="bootstrapGuides")
  #bsg-layer
    .bsg-ui
      button#bsg-fluid-button.btn.btn-default container
      input.bsg-quick-div(value='1')
      button#bsg-hide-button.btn.btn-primary hide
    #bsg-container-type.container.bsg-overlay
      .row.bsg-row-guide
        each qcolumns
          .bsg-col-guide.bsg-vertical-guide(class='{{qcolumnClass this}}')
