template(name="bootstrapGuides")
  #bsg-layer
    .bsg-ui
      .bsg-container-type.container
        .row.bsg-row-guide
          .bsg-col-guide(class='{{uiClass}}')
            .well
              .text-center
                h5 VERTICAL GUIDES
                input.bsg-quick-div(value='2')
                button#bsg-fluid-button.btn.btn-default container
                button#bsg-hide-button.btn.btn-primary hide
    .bsg-overlay
      .bsg-container-type.container
        .row.bsg-row-guide
          each qcolumns
            .bsg-col-guide.bsg-vertical-guide(class='{{qcolumnClass this}}')
